img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery__greeds {
  width: calc((100%-40) / 3);
  margin-right: 20px;
}

.gallery__greeds {
  list-style: none;
}

.gallery {
  display: flex;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
